.config/BraveSoftware/
Obrázky/
Dokumenty/
Plocha/
endos/
nixos/
.mozilla/
.config/yazi/plugins/
.config/vim/plugged/
.cfg.git/
.cache/
.local/share/klipper/
.local/state/yazi/packages/
.local/share/klipper/
.ssh/
.config/vim/undodir/
local/share/baloo/
.local/share/kactivitymanagerd/
.local/share/kwalletd/
.local/state/UserFeedback.org.kde.dolphin
.local/state/UserFeedback.org.kde.kate
.local/state/UserFeedback.org.kde.kwrite
.local/state/UserFeedback.org.kde.plasmashell
plasmarch/
.local/share/baloo/
.local/share/kwrite/
.local/share/recently-used.xbel
.local/state/dolphinstaterc
.local/state/kwritestaterc
.local/state/plasmashellstaterc
.local/state/wireplumber/
.local/state/xdg-desktop-portal-kdestaterc
.local/state/plasmasessionrestorestaterc
.local/share/Trash/
Public/
