[Desktop Entry]
Name=Xeyes
Exec=xeyes
Icon=/home/libor/.dotfiles/icons/xeyes.png
Terminal=false
Type=Application
Categories=Graphics;Photography;Viewer;
MimeType=image/jpeg;image/png;image/gif;...;  # Add all supported MIME types

