[Desktop Entry]
Encoding=UTF-8
Name=Kitty
Version=
Type=Application
NoDisplay=false
Terminal= false
Exec=kitty -l
Comment=Vim editor
Icon=/home/libor/.config/kitty/kitty.png
