[Desktop Entry]
Type=Application
Name=GTK Settings
Name[pl]=Ustawienia GTK
GenericName=Adjust Look and Feel
GenericName[pl]=Dopasuj ustawienia wyglądu
Comment=Customizes GTK3 look and feel settings
Comment[pl]=Dostosowuje ustawienia środowiska graficznego GTK3
Keywords=windows;preferences;settings;theme;style;appearance;look;
Keywords[pl]=okna;preferencje;ustawienia;motyw;styl;wygląd;
Icon=/home/libor/.dotfiles/icons/gtk.svg
Exec=nwg-look
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
